.times {
  position: absolute;
    right: 10px;
}

.normal-box {
  min-width: 450px;
  padding: 30vh 34vw;
  position: absolute;
}

  #option_a {
    color: white;
    background-color: #452c70;
    border-radius: 4px;
    border: none;
    padding: 4px 10px;
  }

  #option_b {
    color: white;
    background-color: #452c70;
    border-radius: 4px;
    border: none;
    padding: 6px 10px;
  }

  #option_c {
    color: white;
    background-color: #452c70;
    border-radius: 4px;
    border: none;
    padding: 6px 10px;
  }

  #option_d {
    color: white;
    background-color: #452c70;
    border-radius: 4px;
    border: none;
    padding: 6px 10px;
  }


  #start-quiz {
    color: white;
    background-color: #452c70;
    border-radius: 4px;
    border: none;
    padding: 4px 10px;
  }

